body {
    background-color: #38b6ff;
    text-align: center;
    margin: 0px;
}

table{
    margin-left: auto;
    margin-right: auto;
    border-collapse: separate;
    border-spacing: 0px 40px;
}

.kep:hover{
    transform: scale(1.8);
    transition: 0.3s;
    position: relative;
    z-index: 10;
}
td{
    padding: 0px;
    margin: 0px;
}